<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Daniella Roberts</h2>
        </header>
        
        <br />
       
        <!-- Avatar -->
        <header>
            <span class="avatar"><img src="images/pic01.jpg" alt="" /></span>
            <!-- <h1>Jane Doe</h1> -->
            <p>Physics Graduate Student at The Ohio State University</p>
        </header>
        
        <br />
        
        <p> <strong>Lupy</strong>
        <br />
        I own 2 guinea pigs: Deacon and Comet
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">About me</a></li>
            </ul>
        </footer>

    </div>

</section>
